<app-card id="skills-container">
  <div class="text-center mb-6 skills-header">
    <h1 class="text-3xl font-bold flex items-center justify-center gap-2">
      <ng-icon name="star"></ng-icon> Skills
    </h1>
  </div>
  <div id="skills" class="my-6 p-4 bg-[#fffc] rounded-lg ">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 skills-column">
      <div *ngFor="let i of [0, 1, 2]" class="border-l-2 border-gray-200 pl-4">
        <div
          *ngFor="
            let skill of skills.slice(
              (i * skills.length) / 3,
              ((i + 1) * skills.length) / 3
            )
          "
          class="text-lg text-gray-700"
        >
          {{ skill }}
        </div>
      </div>
    </div>
  </div>
</app-card>
