<footer class="bg-gray-100 pt-4 footer w-full relative">
  <div class="max-w-5xl mx-auto text-center">
    <div class="flex justify-center gap-4">
      <a
        *ngFor="let account of accounts"
        class="text-gray-600 hover:text-gray-800 transition-colors"
        [href]="account.url"
        target="_blank"
      >
        <ng-icon [name]="account.icon" class="text-2xl"></ng-icon>
      </a>
    </div>
    <div class="mt-4 text-gray-600">
      <p>{{ year }} © All rights reserved.</p>
    </div>
  </div>
</footer>
