.title {
    padding: 1rem 0;
    color: var(--lightest-color)
}

input, textarea{
    background-color: var(--normal-color);
    border: none;
    // border-bottom: var(--normal-color) solid 1px;
    color: white !important
}
input:focus, textarea:focus{
    background-color: var(--normal-color);
    border: none;
    // border-bottom: var(--normal-color) solid 1px;
    color: white !important;
    box-shadow: none;
}
input:-webkit-autofill{
    -webkit-text-fill-color: var(--lightest-color) !important;
    -webkit-text-stroke-color: var(--darkest-color) !important;
}
.submit-btn, .submit-btn:focus, .submit-btn:hover, .submit-btn:active {
    background-color: var(--normal-color);
    border: var(--normal-color);
    color: var(--lightest-color);
    box-shadow: none;

}

.cc-contact-information {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .cc-contact-information .cc-contact {
    padding: 8% 0 8% 20%;
  }