<app-card id="about" push="left">
  <div class="text-center mb-6 about-header">
    <h1 class="text-2xl font-bold flex items-center justify-center gap-2">
      <ng-icon name="person"></ng-icon> About Me
    </h1>
  </div>
  <div class="flex md:flex-row flex-col gap-8 text-center bg-gray-100 p-4 rounded-t-lg">
    <div
        [innerHTML]="about.whoAmI"
        class="text-gray-700 text-left leading-relaxed md:w-[60%] w-full"
      ></div>
    <div class="mx-auto about-info flex flex-col gap-1">
      <div class="grid grid-cols-5 items-start flex-grow-1">
        <h4 class="col-span-2 font-semibold flex items-center gap-2">
          <ng-icon name="cake"></ng-icon> Birthdate:
        </h4>
        <span class="col-span-3 text-left">
          <span>{{ about.birthDate | ordinalDate }}</span
          ><br />
          <span class="text-xs"
            >({{ { startDate: about.birthDate } | duration }})</span
          >
        </span>
      </div>

      <div class="grid grid-cols-5 items-start flex-grow-1">
        <h4 class="col-span-2 font-semibold flex items-center gap-2">
          <ng-icon name="email"></ng-icon> Emails:
        </h4>
        <div class="col-span-3 text-left">
          <span *ngFor="let email of about.emails">
            <a
              target="_blank"
              class="text-blue-600"
              href="mailto:{{ email }}"
              >{{ email }}</a
            ><br />
          </span>
        </div>
      </div>
      <div class="grid grid-cols-5 items-start flex-grow-1">
        <h4 class="col-span-2 font-semibold flex items-center gap-2">
          <ng-icon name="phone"></ng-icon> Phones:
        </h4>
        <div class="col-span-3 text-left">
          <span *ngFor="let phone of about.phones">
            <a target="_blank" class="text-blue-600" href="tel:{{ phone }}">{{
              phone
            }}</a
            ><br />
          </span>
        </div>
      </div>
      <div class="grid grid-cols-5 items-start flex-grow-1">
        <h4 class="col-span-2 font-semibold flex items-center gap-2">
          <ng-icon name="address"></ng-icon> Address:
        </h4>
        <div class="col-span-3 text-left">
          <a
            target="_blank"
            class="text-blue-600"
            [href]="about.addressOnMap"
            >{{ about.address }}</a
          >
        </div>
      </div>
      <div class="grid grid-cols-5 items-start">
        <h4 class="col-span-2 font-semibold flex items-center gap-2">
          <ng-icon name="language"></ng-icon> Languages:
        </h4>
        <div class="col-span-3 text-left">
          <span *ngFor="let lang of about.languages">{{ lang }}<br /></span>
        </div>
      </div>
    </div>
  </div>
</app-card>
