/* Education Style */


.education-header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 0;
    text-align: center;
    color: #fff;
}

.education-content {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    
    background-color: var(--normal-color) !important;
}

