<app-card id="education">
  <div class="text-center mb-6 education-header">
    <h1 class="text-3xl font-bold flex items-center justify-center gap-2">
      <ng-icon name="book"></ng-icon> Education
    </h1>
  </div>
  <div
    *ngFor="let education of educations"
    class="my-6 p-4 bg-[#fffc] rounded-lg education-card"
  >
    <div class="text-center bg-gray-100 p-4 rounded-t-lg">
      <h3 class="text-xl font-semibold flex items-center justify-center gap-2">
        <ng-icon *ngIf="education.icon" [name]="education.icon"> </ng-icon>
        {{ education.title }}
      </h3>
    </div>
    <div class="p-4 bg-[#fffc] rounded-b-lg grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="text-left">
        <h2 class="text-md md:text-lg font-semibold" [innerHtml]="education.description"></h2>
        <h4 class="text-gray-600 grid grid-cols-1 md:grid-cols-2"><span>{{ education.college }}</span>
          <div class="md:text-right"><span class="text-sm text-gray-600">
          {{ education.startDate | ordinalDate }}
          -
          {{
            education.endDate ? (education.endDate | ordinalDate) : "Present"
          }}
        </span>
        <br />
        <span class="text-sm text-gray-600">({{ education | duration }})</span>
        </div>
        </h4>
      </div>
      <div>
        <h3 class="text-md font-semibold">Achievements:</h3>
        <ul class="text-left pl-6 mt-2 mx-auto list-image-[url(/resources/icons/check.svg)]">
          <li
            *ngFor="let achievement of education.achievements"
            class="text-gray-700 text-sm lg:text-md "
          >
            {{ achievement }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-card>
