:host ::ng-deep {
    .p-card-title a {
        color: var(--text-color) !important;
        text-decoration: none;
    }

    .p-card-title {
        text-align: center;
    }

    .p-card {
        background-color: #2a323d99;
        scroll-margin: 5rem;
    }

    .p-menuitem {
        margin: auto;
    }

    .p-menubar-start {
        width: 7%;
    }
    .p-chip {
        background-color: #2f3b4b;
    }

}

@media (max-width: 992px) {
    .hidden-mobile {
        display: none !important;
    }
}

.profile-image img {
    border-radius: 5%;
    height: 22rem !important;
    // background-color: #2a323d99 !important;
    margin: 4.5rem 0 2rem 0 !important;
    z-index: 9 !important;
    -webkit-transition: all .4s ease-out !important;
    transition: all .3s ease-out !important;
}

.z-10000 {
    z-index: 10000 !important;
}

.bitmoji {
    width: 50%;
    // height: 25rem;
    // object-fit: cover;
    
    // &-emoji {
    //     object-position: 0px -6rem;
    //     margin-bottom: -8rem;
    // }
    @media (min-width: 768px) {
        &-navbar {
            margin-top: -2rem;
            margin-bottom: -1rem;
        }
    }
    &-navbar {
        width: 100%;
        cursor: pointer;
    }

    // &-laptop {
    //     object-position: 0px -2rem;
    //     margin-bottom: -4rem;
    // }
}

.font-black {
    color: black !important;
}

fa-icon {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.tel-link, .mailto-link, .map-link {
    text-decoration: none;
    color: var(--text-color)
}