<app-card id="certificates">
  <div class="text-center mb-6 certificate-header">
    <h1 class="text-3xl font-bold flex items-center justify-center gap-2">
      <ng-icon name="cert"></ng-icon> Certificates
    </h1>
  </div>
  <div
    *ngFor="let cert of certs"
    class="my-6 p-4 bg-[#fffc] rounded-lg certification-card"
  >
    <div
      class="text-center bg-gray-100 p-4 rounded-t-lg flex gap-5 justify-center items-center"
    >
      <div>
        <img
          [src]="cert.img"
          class="w-[500px] cursor-pointer"
          (click)="openModal(cert.img)"
          alt="{{ cert.title }}"
        />
      </div>
      <div class="flex flex-col justify-center">
        <h3 class="text-xl font-semibold">{{ cert.title }}</h3>
        <div class="p-4 rounded-b-lg">
          <div class="text-center">
            <div class="text-lg">{{ cert.description }}</div>
          </div>
          <div class="text-center mt-4">
            <span class="text-sm text-gray-600">
              <span class="text-gray-600">{{ cert.origin }} |</span>
              {{ cert.date | ordinalDate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for enlarged image -->
  <div
    [ngClass]="{'hidden':!showModal, 'block':!showModal}"
    class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50 modal-overlay opacity-0"
  >
    <div class="relative max-w-4xl w-full p-4 modal-content">
      <button
        class="absolute top-2 right-2 text-white bg-gray-800 rounded-full p-2 hover:bg-gray-600 transition-colors"
        (click)="closeModal()"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
      <img
        [src]="selectedImage"
        class="w-full h-auto rounded-lg max-h-[80vh] object-contain"
        alt="Enlarged certificate"
      />
    </div>
  </div>
</app-card>