<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="container">
                <div class="content-center">
                    <div class="profile-image">
                        <img src="assets/images/profile.jpg" alt="Image" />
                    </div>
                    <div class="h2 title my-0">{{about.name}}</div>
                    <p class="category text-white mb-5">{{about.job}}</p>
                </div>
                <div class="button-container">
                    <a *ngFor="let account of about.accounts"
                        class="colored-{{account.website.toLowerCase()}} btn btn-default btn-round btn-lg btn-icon social-fa-icon"
                        [href]="account.url" target="_blank" rel="tooltip" [title]="'Follow me on '+account.website">
                        <fa-icon [icon]="account.icon"></fa-icon>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>