/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background: linear-gradient(90deg,rgba(15, 90, 90, 1) 0%,rgba(15, 80, 80, 1) 15%,rgba(15, 60, 60, 1) 40%, rgba(15, 80, 80, 1) 85%, rgba(15, 90, 90, 1) 100%);
  background: linear-gradient(45deg,rgba(15, 25, 25, 1) 0%,rgba(15, 40, 40, 1) 15%,rgba(15, 50, 50, 1) 40%, rgba(15, 40, 40, 1) 85%, rgba(15, 25, 25, 1) 100%);
  // background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  // background-position: center;
  background-repeat: no-repeat;
}


.glow-box {
  box-shadow: 0 0 40px -5px white
}
